<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header></header>
<div class="container">
  <h2 class="login">Login</h2>
  <form action="/process_login" method="POST" class="mt-4">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div class="form-group">
      <label for="username">Login:</label>
      <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <div th:if="${param.error}" class="red-text">
      <p>Неправильный логин или пароль. Попробуйте ещё раз</p>
    </div>
  </form>
  <div class="flex">
    <div>Ещё не зарегистрированы?</div>
    <a href="/sign-up" class="link">Sign up</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>